<% if posts.empty? %>
  <div id = 'clubhouse_posts_list_empty_message'>
    <h2 class="text-l pt-8 text-red-500">THERE ARE NO POSTS</h2>
  </div>
<% else %>
  <% posts.each do |post| %>
    <%= render(partial: 'partials/posts/card',
              locals: { post: }) %>
  <% end %>
<% end %>