<div class="flex-col">
  <h2>
    THE CLUBHOUSES
  </h2>

  <% @clubhouses.each do |clubhouse| %>
    <%= content_tag(:p, "Clubhouse: #{clubhouse.title}") %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to "New Clubhouse", new_clubhouse_path %>
    <%= link_to "Go to profile", user_path(current_user) %>
  <% else %>
    <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>
